* {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: #e95462;
    text-decoration: none;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
    background-color: #111;
    color: #eee;
    cursor: default;
}

.header {
    text-align: center;
    position: relative;
    font-size: 5em;
    margin: auto;
    margin-top: 1.25em;
    width: 100%;
    font-weight: 100;
}

.body {
    display: inline-block;
}

.message {
    font-size: .28em;
    color: #a9a9a9;
    text-align: center;
}

.footer {
    color: #fff;
    margin-top: 40em;
    font-size: .6em;
    text-align: center;
}

ul { padding-left: .1em; }

section #services {
    text-align: center;
    transform: translatez(0);
}

section #services li {
    width: 4em;
    height: 5em;
    display: inline-block;
    list-style: none;
    padding-left: 0;
}

section #services li div {
    width: 1.5em;
    height: 1.5em;
    color: #111;
    font-size: 2.5em;
    text-align: center;
    line-height: 1.5em;
    background-color: #bd3c48;
    transition: all 0.5s ease;
}

section #services li div:hover {
    background-color: #e95462;
}

/* At first let's give some style*/
body{
	background: #000;
	color: white;
}

/* font-size, positioning, visibility*/
p{
	font-size: 14px;
	margin: 0px;
	white-space:nowrap;
	overflow: hidden;
	width: 35em;
	animation: type 5s steps(55, end) 1;	
}

/* let's animate, it's super easy */
@keyframes type{
	from{ width: 0;}
}
/*looks like something is wrong, Fixed!!! */

/*let's make it more realistic, so I added span tag, let's animate span*/
span{
	animation: blink 0.7s infinite;
}

@keyframes blink{
	to{ opacity: .0;}
}

/*That's it. Enjoy!!! :) */




IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
