Package: net.winneonsword.package
Name: Test Package 
Version: 0.0.0.1
Architecture: iphoneos-arm
Description: Testing TeamCreation 
Depiction: http://repo.winneonsword.net/packages/package.html
Homepage: http://Teamcreation.github.io
Maintainer: TeamCreation <team.creation15@gmail.com>
Author: TeamCreation <team.creation15@gmail.com>
Section: Tweaks
